{% extends '::base.html.twig' %}

{% block body %}

    {% if saved %}
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Configurazione salvata.
        </div>
    {% endif %}

    <ul id="mainMenu" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#menu" role="tab" data-toggle="tab">Generale</a></li>
        <li id="showAdLi" style="display:none"><a href="#ad" role="tab" data-toggle="tab">Active directory</a></li>
        <li id="showProviderLi" style="display:none"><a href="#provider" role="tab" data-toggle="tab">Provider</a></li>
        <li><a href="#wireless" role="tab" data-toggle="tab">Wireless</a></li>
        <li><a href="#radius" role="tab" data-toggle="tab">Freeradius</a></li>
        <li><a href="#backup" role="tab" data-toggle="tab">Backup</a></li>
    </ul>
    {{ form_start(form) }}
    {#<form action="{{ url('config_update') }}" method="post" autocomplete="off">#}
        <input id="fakeUser" type="text" autocomplete="off" style="display: none;"/><input id="fakePw" type="password"
                                                                                           autocomplete="off"
                                                                                           style="display: none;"/>

        <div id="tabContent" class="tab-content" style="margin-top: 15px">
            <div class="tab-pane active in" id="menu">
                {{ form_row(form.onlyReception) }}

                <div id="showAdDiv" style="display:none">
                    {{ form_row(form.userCanChangeOwnPassword) }}
                    {{ form_row(form.showBadge) }}
                    {{ form_row(form.showStats) }}
                    <div id="showWifiHotspoDiv" style="display:none">
                        {{ form_row(form.wirelessHotspotServer) }}
                    </div>

                    {{ form_row(form.teacherCanResetPassword) }}
                    {{ form_row(form.teacherCanSeeList) }}
                    {{ form_row(form.teacherCanEnablePersonalDevice) }}
                </div>
            </div>
            <div class="tab-pane" id="ad">
                <h3>Parametri di connessione con il server active directory</h3>

                {{ form_row(form.active_directory_account_suffix) }}
                {{ form_row(form.active_directory_base_dn) }}
                {{ form_row(form.active_directory_domain_controller) }}
                {{ form_row(form.active_directory_admin_username) }}
                {{ form_row(form.active_directory_admin_password) }}
                {{ form_row(form.active_directory_use_ssl) }}
                {{ form_row(form.active_directory_sync_suffix) }}

                <h3>Parametri di comportamento di igroove verso active directory</h3>

                {{ form_row(form.active_directory_generated_group_prefix) }}
                {{ form_row(form.active_directory_generated_teacher_group_prefix) }}
                {{ form_row(form.active_directory_generated_provider_group_with_users) }}
                {{ form_row(form.active_directory_generated_teacher_provider_group_with_users) }}
                {{ form_row(form.active_directory_home_folder) }}
                {{ form_row(form.active_directory_home_drive) }}
                {{ form_row(form.active_directory_email_for_error) }}


                <h3>Criteri per le password</h3>

                {{ form_row(form.active_directory_password_min_char) }}
                {{ form_row(form.active_directory_password_complexity) }}
                {{ form_row(form.active_directory_username_style) }}
            </div>

            <div class="tab-pane" id="provider">
                {% if providers %}
                    <ul class="list-group">
                        {% for provider in providers %}
                            <li class="list-group-item">
                                {#<span class="badge">{{ provider.uri }}</span>#}

                                <i class="glyphicon glyphicon-{{ provider.active  ? 'ok-circle' : 'remove-circle' }}"></i>

                                <a href="{{ path('config_provider_edit', { 'id': provider.id }) }}">

                                    {{ provider.name }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                {% endif %}
                <a class="btn btn-success" href="{{ path('config_provider_new') }}">
                    Aggiungi un nuovo provider di dati
                </a>
            </div>


            <div class="tab-pane" id="backup">
                {{ form_row(form.dizda_cloud_backup_username) }}
                {{ form_row(form.dizda_cloud_backup_password) }}
            </div>

            <div class="tab-pane" id="wireless">
                {{ form_row(form.wireless_ssid) }}
                {{ form_row(form.wireless_guest_network_type) }}
                {{ form_row(form.wireless_guest_network_rules) }}

                <h2>Ubiquiti unifi controller</h2>
                {{ form_row(form.wireless_unifi_controller) }}
                {{ form_row(form.wireless_unifi_username) }}
                {{ form_row(form.wireless_unifi_password) }}
                {{ form_row(form.wireless_unifi_kick_expired) }}
                {{ form_row(form.wireless_unifi_kick_expired_networks) }}
            </div>

            <div class="tab-pane" id="radius">
                <div class="form-group">
                    {{ form_row(form.freeradius_realm) }}
                    {{ form_row(form.guest_realm) }}
                </div>
            </div>
        </div>

    {#</form>#}

    <script>
        function checkAdVisibility() {
            if ($("#configuration_onlyReception").prop('checked')) {
                $("#showAdDiv").hide();
                $("#showAdLi").hide();
                $("#showProviderLi").hide();
            } else {
                $("#showAdDiv").show();
                $("#showAdLi").show();
                $("#showProviderLi").show();
            }
            if ($("#configuration_showStats").prop('checked')) {
                $("#showWifiHotspoDiv").show();
            } else {
                $("#showWifiHotspoDiv").hide();
            }
        }

        $("#configuration_onlyReception").change(function () {
            checkAdVisibility();
        });
        $("#configuration_showStats").change(function () {
            checkAdVisibility();
        });

        checkAdVisibility();
    </script>


    <hr>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
