{% extends '::base.html.twig' %}

{% block body %}

<form>
    <select name="theme">
        {% for theme in list %}
            <option value="{{ theme }}">{{ theme|capitalize|slice(0,-4) }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-success">cambia il look</button>
</form>
{% endblock %}
