{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mikrotik</h1>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Ip</th>
            <th>apiUsername</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('config_mikrotik_edit', { 'id': entity.id }) }}">{{ entity.ip }}</td>
                <td>{{ entity.apiUsername }}</td>
                <td><i class="glyphicon glyphicon-{{ entity.status  ? 'ok-circle' : 'remove-circle' }}"></i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" href="{{ path('config_mikrotik_new') }}">
                Aggiungi un nuovo router
            </a>
        </div>

    </div>
{% endblock %}