{% extends '::base.html.twig' %}

{% block body %}

    <h1>Docenti</h1>

    {#<div id="teacherVueTable">#}
        {#<vuetable ref="vuetable"#}
                  {#:data="rowData"#}
                  {#:api-mode="false"#}
                  {#:per-page="20"#}
                  {#api-url="{{ path("api_teachers", {'_format': 'json'}) }}"#}
                  {#api-url="https://vuetable.ratiw.net/api/users"#}
                  {#:fields="fields"#}
                  {#:css="cssClasses"#}
                  {#:sort-order="sortOrder"#}
                  {#:multi-sort="true"#}
                  {#multi-sort-key="shift"#}
                  {#pagination-path="pagination"#}
                  {#@vuetable:pagination-data="onPaginationData"#}
        {#>#}
            {#<template slot="actions" scope="props">#}
                {#<div class="custom-actions">#}
                    {#<button class="btn btn-default"#}
                            {#@click="onAction('view-item', props.rowData, props.rowIndex)">#}
                        {#<i class="zoom icon"></i>#}
                    {#</button>#}
                    {#<a class="btn btn-primary" :href="'{{ path('teacher_edit', {id:'%teacherId'}) }}'.replace('%25teacherId', props.rowData.id)" target="_blank">#}
                            {#@click="onAction('edit-item', props.rowData, props.rowIndex)">#}
                        {#<i class="glyphicon glyphicon-edit"></i>#}
                    {#</a>#}
                    {#<button class="btn btn-danger"#}
                            {#@click="onAction('delete-item', props.rowData, props.rowIndex)">#}
                        {#<i class="delete icon"></i>#}
                    {#</button>#}
                {#</div>#}
            {#</template>#}
        {#</vuetable>#}
        {#<vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="paginationCssClasses"></vuetable-pagination>#}
    {#</div>#}

    {#<script type="text/javascript">#}
        {#Vue.config.devtools = true;#}
        {#data = JSON.parse('{{ teachers|json_encode()|e('js') }}');#}
        {#var teacherVueTable = new Vue({#}
            {#el: "#teacherVueTable",#}
            {#delimiters: ['${', '}'],#}
            {#data: {#}
                {#fields: [#}
                    {#{title: 'checkbox', name: '__checkbox', titleClass: 'center aligned', dataClass:'center aligned'},#}
                    {#{title: 'Codice Fiscale', name: 'fiscal_code'},#}
                    {#{title: 'Cognome', name: 'lastname', sortField:'teacher.lastname'},#}
                    {#{title: 'Nome', name: 'firstname', sortField:'teacher.firstname'},#}
                    {#{title: 'Provider', name: 'provider.name', sortField:'provider.name'},#}
                    {#{title: 'Gruppi', name: 'groups', sortField:'group.name'},#}
                    {#{title: 'Email', name: 'email', sortField:'teacher.email'},#}
                    {#{title: 'Username', name: 'username', sortField:'teacher.username'},#}
                    {#{title: 'Password', name: 'starting_password'},#}
                   {#{title: 'Modifica', name: '__slot:actions'}#}
                {#],#}
                {#sortOrder: [#}
                    {#// {field: 'group.name', direction: 'asc'},#}
                    {#{field: 'teacher.lastname', direction: 'asc'}#}
                {#],#}
                {#cssClasses: {#}
                    {#tableClass: 'table table-striped table-bordered',#}
                    {#ascendingIcon: 'glyphicon glyphicon-chevron-up',#}
                    {#descendingIcon: 'glyphicon glyphicon-chevron-down',#}
                    {#handleIcon: 'glyphicon glyphicon-menu-hamburger'#}
                {#},#}
                {#paginationCssClasses: {#}
                    {#wrapperClass: "pagination pull-right",#}
                    {#activeClass: "btn-primary",#}
                    {#disabledClass: "disabled",#}
                    {#pageClass: "btn btn-border",#}
                    {#linkClass: "btn btn-border",#}
                    {#icons: {#}
                        {#first: "",#}
                        {#prev: "",#}
                        {#next: "",#}
                        {#last: ""#}
                    {#}#}
                {#}#}
{#//                rowData: data#}
            {#},#}
            {#components: {#}
                {#'vuetable': Vuetable.Vuetable,#}
                {#'vuetable-pagination': Vuetable.VuetablePagination#}
            {#},#}
            {#methods: {#}
                {#onPaginationData: function (paginationData) {#}
                    {#this.$refs.pagination.setPaginationData(paginationData)#}
                {#},#}
                {#onChangePage: function (page) {#}
                    {#this.$refs.vuetable.changePage(page)#}
                {#}#}
            {#}#}
        {#});#}

    {#</script>#}

    {#<div id="teacherTable" style="width: 100%; height:  500px" class="ag-bootstrap"></div>#}

    {#<script type="text/javascript">#}
        {#(function() {#}
            {#document.addEventListener('DOMContentLoaded', function() {#}

                {#var gridDiv = document.querySelector('#teacherTable');#}

                {#var gridOptions = {#}
                    {#columnDefs: [#}
                        {#{headerName: 'Codice Fiscale', field: 'fiscalCode'},#}
                        {#{headerName: 'Cognome', field: 'lastname', sort: 'asc'},#}
                        {#{headerName: 'Nome', field: 'firstname'},#}
                        {#{headerName: 'Provider', field: 'providerName'},#}
                        {#{headerName: 'Gruppi', field: 'groups'},#}
                        {#{headerName: 'Email', field: 'email'},#}
                        {#{headerName: 'Username', field: 'username'},#}
                        {#{headerName: 'Password', field: 'startingPassword'},#}
                        {#{headerName: 'Azioni'}#}
                    {#],#}
                    {#enableSorting: true,#}
                    {#enableFilter: true,#}
                    {#rowSelection: 'multiple',#}
                {#};#}

                {#new agGrid.Grid(gridDiv, gridOptions);#}

                {#data = JSON.parse('{{ teachers|json_encode()|e('js') }}');#}

                {#gridOptions.api.setRowData(data);#}
            {#});#}

        {#})();#}
    {#</script>#}

    {#<div id="teacherTable">#}
        {#<ag-grid-vue style="width: 100%; height: 350px;" class="ag-fresh"#}
                 {#:gridOptions="gridOptions"#}
                 {#:columnDefs="columnDefs"#}
                 {#:rowData="rowData"#}

                 {#:enableColResize="true"#}
                 {#:enableSorting="true"#}
                 {#:enableFilter="true"#}
                 {#:groupHeaders="true"#}
                 {#:suppressRowClickSelection="true"#}
                 {#:toolPanelSuppressGroups="true"#}
                 {#:toolPanelSuppressValues="true"#}
                 {#rowHeight="22">#}
        {#</ag-grid-vue>#}


    {#</div>#}

    {#<script type="text/javascript">#}
        {#Vue.config.devtools = true;#}
        {#var syncComp = new Vue({#}
            {#el: "#teacherTable",#}
            {#delimiters: ['${', '}'],#}
            {#data: {#}
                {#columnDefs: [#}
                    {#{headerName: 'Codice Fiscale', field: 'fiscalCode'},#}
                    {#{headerName: 'Cognome', field: 'lastname'},#}
                    {#{headerName: 'Nome', field: 'firstname'},#}
                    {#{headerName: 'Provider', field: 'providerName'},#}
                    {#{headerName: 'Gruppi', field: 'groups'},#}
                    {#{headerName: 'Email', field: 'email'},#}
                    {#{headerName: 'Username', field: 'username'},#}
                    {#{headerName: 'Password', field: 'startingpassword'},#}
                    {#{headerName: 'Azioni'}#}
                {#],#}
                {#gridOptions: null,#}
                {#rowData: [#}
                    {#{lastname: "Pippo", firstname: "Pluto"}#}
                {#]#}
            {#},#}
            {#components: {#}
                {#'ag-grid-vue': agGridVue.AgGridVue#}
            {#}#}
        {#});#}
    {#</script>#}


    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Codice Fiscale</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Provider</th>
                <th>Email</th>
                <th>Username</th>
                {#<th>Password</th>#}
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr data-person-name="{{ entity.username }}" data-person-id="{{ entity.id }}">
                    <td>{{ entity.fiscalCode }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.provider.name }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.username }}</td>
                    {#<td>{{ entity.startingpassword }}</td>#}
                    <td>
                        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}" class="btn btn-primary">Modifica</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Azioni <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="showPersonDataBt">Visualizza Dati</a></li>
                                <li><a class="resetPersonPasswordBt" data-person-pass="{{ entity.startingPassword }}">Reimposta Password</a></li>
                                <li><a class="renewPersonPasswordBt">Crea Nuova Password</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="navigation" style="margin: -20px 0;">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-md-4 text-center">
            <a href="{{ path('teacher_new') }}" class="btn btn-primary">Crea Nuovo Docente</a>
        </div>
        <div class="col-md-4 text-right">
            <form class="form-search" action="{{ path('teacher_list') }}">
                <div class="form-group">
                    <select style="width: inherit; display: inline;" id="providerId" name="providerId"
                            class="form-control">
                        <option value="-1">Tutti i provider</option>
                        {% for entity in providers %}
                            <option value="{{ entity.id }}"
                                    {{ ((providerId is defined) and (entity.id==providerId))?"selected" }}
                            >{{ entity.name }}</option>
                        {% endfor %}
                    </select>

                    <input type="text"  style="width: inherit; display: inline;"
                           id="queryString" name="queryString" class="form-control" placeholder="Cerca" value="{{ queryString|escape('html') }}">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>     </div>
            </form>
        </div>
    </div>

    {% include 'ZenIgrooveBundle:Components:userActionsModal.html.twig' with {personType: 'teacher'} %}



{% endblock %}
