*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
a { text-decoration:none }

strong { font-weight:bold }
em { font-style:italic }
a img { border:none } /* Gets rid of IE's blue borders */
@font-face { font-family: GraublauWebBold; src: url(../fonts/GraublauWebBold.eot); src: local('Grablau Web Bold'), local('Grablau Web'), url(../fonts/GraublauWebBold.otf) format('opentype') }
body, textarea { font:18px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#7a8872 }
h1 { position:relative }
h1 > a { background:url(../images/h1.png); width:453px; height:140px; text-indent:-9999px; display:block; position:absolute; top:55px; left:0; overflow: hidden }
h1 a span { position:absolute; width:88px; top:64px; height:16px; left:26px; text-align:center; text-indent:0; font:12px/12px GraublauWebBold, 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform:uppercase; color:#666; opacity: 0 }
h2 { font:bold 48px/48px 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#cbe4bd; border-bottom:10px solid #dfbd2d; padding:0 0 6px 0; margin:0 0 20px 0; display:inline-block; position:relative }
h2 span { position:absolute; height:10px; background:#dfbd2d; top:54px; right:100%; width:9999px }
h3, input { font-weight:bold }
h4 { font:italic 18px/24px Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif }
a { color:#dfbd2d; text-decoration:none }
a:hover { color:#fff }
p { margin:20px 0 }
p a { text-transform:uppercase; font-weight:bold }

body.home div.about { font-size: 28px;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 60px; }
body.home div.about p em { font-style: italic; font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; color:#cbe4bd }


body { background:#000  center 0; border:10px solid #000 }
div, ul, li { position:relative }
div.outer_wrapper { background: center -10px no-repeat; color:#7a8872 } /* Why have an outer wrapper instead of using html and body? Because (what would be) the html background needs to change depending on the body class */
div.wrapper { width:940px; margin:0 auto }
br.clearfix { clear:both; display:block; height:1px; margin:-1px 0 0 0 }

body.error404 { background:#000; border:none }
body.error404 div.outer_wrapper { background:none }
body.error404 div.wrapper { background:#000; padding:20px; margin:40px auto 0 auto; border:10px solid #000 }
body.error404 div.badge { display:none }
body.error404 h2 { border:none }
body.error404 ul.nav, body.error404 div.footer01, body.error404 div.footer02 { display:none }
img.fourohfour { width:100%; height:100%; position:absolute; top:0; left:0 }
body#search-results img.fourohfour { display:none }

/* 1	Text shadow */
body { text-shadow:0 2px 2px rgba(0,0,0,0.9) } /* Normal */

div.footer01 { background:rgba(255,255,255,0.1) }
body.error404 div.wrapper { background:rgba(0,0,0,0.6) }

div.header {
    height: 150px;
}

h1 img {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90px;
    height: 90px;
    cursor: pointer;
}