/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-gen-2014, 13.47.54
    Author     : vittore
*/

.login {
    background-image: url('../images/groceries.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}

.circle {
    border:dashed 1px #000;
    margin-top:10px;
}


