{% extends '::base.html.twig' %}

{% block body %}
    <h1>Modifica ospite</h1>

    <form action="{{ path('guest_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        {{ form_widget(edit_form) }}
        {{ form_rest(edit_form) }}

        <div class="row sendBtnArea">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-success">Salva modifiche ospite</button>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('guest') }}" class="btn btn-info">
                    Ritorna alla lista
                </a>
            </div>
            <div class="col-sm-3">
                <a target="_blank"
                   href="{{ path('guest_print',  { 'id': entity.id }) }}" class="btn btn-default">
                    Stampa foglio username&amp;password
                </a>

                <button class="btn btn-default sendCredentialToEmail" data-userid="{{ entity.id }}" data-userfullname="{{ entity.lastname}} {{ entity.firstname }}">Invia per Email</button>
            </div>
            <div class="col-sm-3 text-sm-right">
                <a href="{{ path('guest_delete', { 'id': entity.id }) }}" class="btn btn-danger">
                    Rimuovi l'accesso per questo ospite</a>
            </div>
        </div>
    </form>


    <div class="modal fade" id="sendToEmailModal" tabindex="-1" role="dialog" aria-labelledby="sendToEmailModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Invia credenziali via email</h4>
                </div>
                <div class="modal-body">
                    <div class="status"></div>
                    Invio credenziali di <b class="userFullName"></b> via email all'indirizzo:<br />
                    <input type="email" id="sendToEmailField" />
                </div>
                <div class="modal-footer">
                    <a id="sendToEmailBt" type="button" class="btn btn-primary" href="#">Invia</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($) {
            var sendToEmailModal = $("#sendToEmailModal");
            var sendToEmailField = $("#sendToEmailField");

            $(".sendCredentialToEmail").click(function (e) {
                e.preventDefault();
                var $bt = $(this);
                if($bt.data("userid") === undefined || $bt.data("userid") === "" || $bt.data("userfullname") === undefined || $bt.data("userfullname") === "") {
                    return;
                }

                sendToEmailModal.data("userid", $bt.data("userid"));
                var modalContent = sendToEmailModal.children(".modal-dialog").children(".modal-content");
                modalContent.children(".modal-body").children('.userFullName').text($bt.data("userfullname"));
                modalContent.children(".modal-body").children('.status').removeClass('alert').removeClass("alert-danger").removeClass("alert-success").text("");
                $("#sendToEmailField").val("");
                sendToEmailModal.modal("show");
            });

            $("#sendToEmailBt").click(function () {
                if(sendToEmailModal.data("userid") === undefined || sendToEmailModal.data("userid") === "") {
                    return;
                }

                var modalContent = sendToEmailModal.children(".modal-dialog").children(".modal-content");
                var statusArea = modalContent.children(".modal-body").children('.status');
                statusArea.removeClass('alert').removeClass("alert-danger").removeClass("alert-success").text("");

                if(sendToEmailField.val() === "") {
                    statusArea.addClass("alert").addClass("alert-danger").text("E-Mail non valida");
                    return;
                }

                console.log(sendToEmailModal.data("userid"));
                $.get("{{ path("guest_send_credential_to_email",{'id': '%id'}) }}".replace("%25id",sendToEmailModal.data("userid")),{'emailTo': sendToEmailField.val()},function (data) {
                    if(data.success !== true) {
                        statusArea.addClass("alert").addClass("alert-danger").html('Errore durante l\'elaborazione della richiesta:<br />'+data.error);
                        return;
                    }

                    statusArea.addClass("alert").addClass("alert-success").text('Email inviata correttamente');
                    sendToEmailField.val("");
                }, "json").fail(function (event, jqXHR) {
                    statusArea.addClass("alert").addClass("alert-danger").text('Errore durante l\'elaborazione della richiesta');
                });
            });
        })
    </script>




{% endblock %}
