Salve,

igroove ha riscontrato un problema creando l'indirizzo email per lo studente:

Nome: {{ student.firstname }}
Cognome: {{ student.lastname }}
ID: {{ student.distinguishedId }}

Email: {{ email }}

L'email indicata sembra essere già utilizzata dall'utente:

Nome: {{ userFound.firstname }}
Cognome: {{ userFound.lastname }}
ID: {{ userFound.department }}



Lo staff di igroove.
