{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aggiunta di un nuovo provider di dati</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.submit, {'attr':{'style' : 'display: none'}}) }}
    {{ form_rest(form) }}

    <div class="row sendBtnArea">
        <div class="col-sm-4">
            <label for="{{ form.submit.vars.id }}" class="btn btn-success">{{ form.submit.vars.label }}</label>
        </div>
        <div class="col-sm-4 text-sm-center"> </div>
        <div class="col-sm-4 text-sm-right">
            <a href="{{ path('config_edit') }}" class="btn btn-default">
                Ritorna alla configurazione
            </a>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
