{% extends '::base.html.twig' %}

{% block body %}

    <h1><a href="{{ path('group_providers_list') }}">Studenti</a> &gt; <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id }) }}">{{ provider.name|capitalize }}</a>
        {% if group.sector %}&gt; <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id, 'sectorId': group.sector.id }) }}">{{ group.sector.name }}</a>{% endif %}
        &gt; {{ group }}</h1>

    <h3>Legenda</h3>
    <p>
        <i class="glyphicon glyphicon-globe"></i> Navigazione attiva &nbsp; <i class="glyphicon glyphicon-phone"></i> Permessi dispositivi personali
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            {% for user in students %}
                <tr class="student-row" data-person-name="{{ user.student.username }}" data-person-id="{{ user.student.id }}">
                    <td>
                        {% if user.state=='user-active' %}
                            <i class="glyphicon glyphicon-globe"></i>
                            {% if user.permitPersonalDevices %}
                                <i class="glyphicon glyphicon-phone"></i>
                            {% endif %}
                            {% if user.ending_time %}<div class="label label-primary">{{ user.ending_time }}</div>{% endif %}
                            {% if user.activedBy != "" %}<br /><div class="label label-default">{{ user.activedBy }}</div>{% endif %}
                        {% endif %}
                    </td>
                    {#<td>#}
                        {#{{ loop.index }}#}
                        {#<div class="label label-default">{{ loop.index }}</div>#}
                    {#</td>#}
                    <td>
                        {{ user.student.lastname }} {{ user.student.firstname }} ({{ user.student.username }})<br />
                        {% if teacherCanSeeList %}<small>{{ user.student.fiscalCode }}</small>{% endif %}
                    </td>
                    <td style="text-align: right">
                        {% if user.state=='not-active' %}
                            <button id="internetOn-{{ user.student.id }}" class="btn btn-success internetOn">
                                <i class="glyphicon glyphicon-time"></i> Attiva
                            </button>
                        {% elseif user.state=='activating' %}
                            <span class="label label-warning">In Attivazione</span>
                        {% else %}
                            <button id="internetEx-{{ user.student.id }}" class="btn btn-warning internetOn">
                                <i class="glyphicon glyphicon-time"></i> Estendi
                            </button>
                            <a href="{{ path('internetOffUser',{'providerId': provider.id, 'groupId': group.id, 'studentId': user.student.id}) }}" class="btn btn-danger"
                               {% if user.activedByOtherUser %} onclick="return confirm('Non sei stato tu ad abilitare questo studente. Sicuro di volerlo disattivare?')"{% endif %}
                            >
                                Disattiva
                            </a>
                        {% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Azioni <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% if teacherCanSeeList %}
                                <li><a class="showPersonDataBt">Visualizza Dati</a></li>
                                {% endif %}
                                {% if teacherCanResetPassword and teacherCanSeeList %}
                                <li><a class="resetPersonPasswordBt" data-person-pass="{{ user.student.startingPassword }}">Reimposta Password</a></li>
                                {% endif %}
                                {% if currentUserIsAdmin %}
                                <li><a class="renewPersonPasswordBt">Crea Nuova Password</a></li>
                                <li><a href="{{ path('student_edit',{'id': user.student.id, 'groupId': group.id}) }}">Modifica</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{{ path ('list_groups_in_provider', { 'providerId': provider.id }) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-icon-arrow-left"></i>Ritorna alla lista {{ provider.name }}
    </a>
    {% if teacherCanSeeList %}
    <a href="{{ path('print_students_in_group',{'providerId': provider.id, 'groupId':group.id, '_format': 'pdf'}) }}" class="btn btn-info" target="_blank">Stampa lista studenti</a>
    {% endif %}
    {% if currentUserIsAdmin %}
    <a href="{{ path('student_new',{'providerId': provider.id, 'groupId':group.id}) }}" class="btn btn-success">Crea Nuovo Studente</a>
    <a href="{{ path('group_edit', {'providerId': provider.id, 'groupId':group.id}) }}" class="btn btn-primary">Modifica Gruppo</a>
    {% endif %}

    <div class="modal fade" id="setTime" tabindex="-1" role="dialog" aria-labelledby="setTime" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Attivazione internet</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="timeToSet">Attiva <span id="setTimeUser"></span> fino alle:</label> <input type="time" id="timeToSet" class="form-control"
                                                                                 value="{{ timeToSet|date("H:i") }}" title="orario di fine" />
                        </div>
                    </div>
                    {% if userCanEnablePersonalDevice %}
                    <br />
                    <div>
                        <label><input type="checkbox" id="permitPersonalDevice" value="1" /> Permetti dispositivi personali</label>
                        <div id="permitPersonalDeviceMsg" style="display: none">
                            <small>NB: Attenzione! Questa opzione rallenta il wifi in classe!<br />Da usare solo per attività nelle quali è necessario l'utilizzo dei cellulari e pc portatili degli studenti sulla rete {{ wifiSsid }}.</small>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                    <button id="setTimeConfirm" type="button" class="btn btn-primary">Attiva</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'ZenIgrooveBundle:Components:userActionsModal.html.twig' with {personType: 'student'} %}


    <script>
        $(function($) {
            var timeToSet = '{{ timeToSet|date("H:i") }}';
            var setTimeModal = $("#setTime");
            var timeToSetInput = $('#timeToSet');
            var setTimeConfirmBt = $("#setTimeConfirm");
            var permitPersonalDeviceInput = $('#permitPersonalDevice');
            var permitPersonalDeviceMsg = $('#permitPersonalDeviceMsg');
            var activatedPollingUrl = "{% if activatedUser != "" %}{{ path('internetIsOnForUser',{'providerId': provider.id, 'groupId': group.id, 'studentId': activatedUser }) }}{% endif %}";
            var activatedPoolingRetryTimes = 0;

            $(".internetOn").click(function () {
                setTimeModal.modal('show');
                setTimeConfirmBt.data("studentId",$(this).attr("id").substring(11));
                $('#setTimeUser').html($(this).parent().parent().data('student-name'));
            });

            setTimeModal.on("shown.bs.modal", function (e) {
                timeToSetInput.focus();
            });

            timeToSetInput.keypress(function (e) {
                if(e.which === 13) {
                    e.preventDefault();
                    setTimeConfirmBt.click();
                } else if(e.which === 32) {
                    e.preventDefault();
                    permitPersonalDeviceInput.click();
                }
            });

            permitPersonalDeviceInput.keypress(function (e) {
                if(e.which === 13) {
                    e.preventDefault();
                    setTimeConfirmBt.click();
                }
            });

            setTimeConfirmBt.click(function () {
                if(timeToSetInput.val() !== "")
                    timeToSet = timeToSetInput.val();

                var path = "{{ path('internetOnUser',{'providerId': provider.id, 'groupId': group.id, 'studentId': '%studentId'}) }}?".replace("%25studentId",$(this).data("studentId"));
                console.log("pers", "permitPersonalDeviceInput", permitPersonalDeviceInput.is(':checked')?"1":"0");
                window.location.href = path + "timeToSet=" + timeToSet + "&personalDevice="+(permitPersonalDeviceInput.is(':checked')?"1":"0");
                setTimeModal.modal('hide');
            });


            permitPersonalDeviceInput.click(function () {
                if(permitPersonalDeviceInput.is(':checked')) {
                    permitPersonalDeviceMsg.show();
                } else {
                    permitPersonalDeviceMsg.hide();
                }
            });

            var activatedPolling = function () {
                $.get(activatedPollingUrl, function (data) {
                    if(data.error === undefined && data.on === true && data.activationCompleted === true) {
                        window.location.reload();
                    }

                    if(++activatedPoolingRetryTimes < 10) {
                        setTimeout(activatedPolling, 1500);
                    }
                });
            };

            if(activatedPollingUrl !== "") {
                setTimeout(activatedPolling, 1500);
            }

            $(document).ajaxError(function (event, jqXHR) {
                if (jqXHR.status === 403 && jqXHR.responseText === "Authentication timeout") {
                    window.location.reload();
                }
            });

            $('.table-responsive').on('shown.bs.dropdown', function (e) {
                var $table = $(this),
                    $menu = $(e.target).find('.dropdown-menu'),
                    tableOffsetHeight = $table.offset().top + $table.height(),
                    menuOffsetHeight = $menu.offset().top + $menu.outerHeight(true);

                if (menuOffsetHeight > tableOffsetHeight)
                    $table.css("padding-bottom", menuOffsetHeight - tableOffsetHeight);
            }).on('hide.bs.dropdown', function () {
                $(this).css("padding-bottom", 0);
            });

        });
    </script>


{% endblock %}
